/* Style your dropdown below! */
ul {
    margin:0px auto;
    padding:0px;
    list-style-type:none;
}
.container {
    text-align:center;
    width:auto;
    font-family: Open Sans;
    cursor: pointer;
}